#h-right{
	background: none;
	line-height: 1rem;
}
.checkBox{
	padding:  0.3rem;

	position: relative;
}
.checkBox label{
	font-size: .24rem;
}
#body ul li{
	padding: .1rem .3rem;
	border-bottom: .01rem solid #ccc;
}
#body ul li input{
	padding-left: .2rem;
	height: .5rem;
	border: none;
	width: 70%;
}
#body ul li label{
	display: inline-block;
	width: 1rem;
	font-size: .24rem;
	line-height: .5rem;
}
#body ul li button{
	display:inline-block;
	float: right;
	height: .5rem;
	width: 2rem;
	background: #fff;
	color: red;
	font-size: .24rem;
	border: .01rem solid red;
	border-radius: .1rem;
}
 .checkBox input{
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
	width: .3rem;
	height: .3rem;
}
 .chackbox-ico{
 	display: inline-block;
 	font-size: .24rem;
 	border: .01rem solid green;
 	border-radius: 50%;
 	padding:0rem .06rem;
 	z-index: 1;
	color:green ;
}

 #body ul li input::-webkit-input-placeholder{
	font-size: 0.24rem;
color: #ccc;
	
}
#body ul li input::-ms-input-placeholder{
	font-size: 0.24rem;
color: #ccc;
}
#body ul li input::-moz-placeholder {
font-size: 0.24rem;
color: #ccc;
}
footer{
	padding: .3rem;
}
footer button{
	width: 100%;
	height: .8rem;
	background:#64676E;
	border:none;
	font-size: .3rem;
	color: #ffffff;
	border-radius: .2rem;
}
