#h-right{
	background: none;
	line-height: 1rem;
}
#body ul li{
	padding: .1rem .3rem;
	border-bottom: .01rem solid #ccc;
}
#body ul li input{
	padding-left: .2rem;
	height: .5rem;
	border: none;
	width: 70%;
}
#body ul li label{
	padding-left:.5rem ;
	font-size: .24rem;
	line-height: .5rem;
}
#body ul li:nth-child(1) label{
	
	background: url(../images/list-style_06.png) no-repeat center left;
	background-size:40% ;
}
#body ul li:nth-child(2) label{
	background: url(../images/pwd.png) no-repeat center left;
	background-size:40% ;
	
}
#body ul li input::-webkit-input-placeholder{
	font-size: 0.24rem;
color: #ccc;
	
}
#body ul li input::-ms-input-placeholder{
	font-size: 0.24rem;
color: #ccc;
}
#body ul li input::-moz-placeholder {
font-size: 0.24rem;
color: #ccc;
}
#btn{
	padding: .3rem .1rem;
}
#btn button{
	font-size: 0.24rem;
	display: block;

	height: .7rem;
	border: none;
	border-radius: .1rem;
	background: red;
	color: #FFFFFF;
	
	width: 100%;
}
#btn p{
	padding: .1rem 0;
	display: flex;
	justify-content: space-between;
	
}
#btn p a{
	text-decoration: none;
	
}
#btn p a:nth-child(1){
	color: red;
	
}
#btn p a:nth-child(2){
	color:#66676F
	
}
footer{
	width: 100%;
	padding:  0.3rem;
	position: fixed;
	bottom: 0;
}
footer p{
	padding: .1rem 0;
	border-bottom: .01rem solid #ccc;
	text-align: center;
}
footer p a{
	color: #000000;
	text-decoration: none;
}
footer ul{
	display: flex;
	justify-content: space-between;
}
footer ul li{
	padding-top:1rem ;
}
footer ul li:nth-child(1){
	background: url(../images/re_07.png) no-repeat center;
	background-size: 100%;
}
footer ul li:nth-child(2){
	background: url(../images/re_05.png) no-repeat center;
	background-size: 100%;
}
footer ul li:nth-child(3){
	background: url(../images/re_03.png) no-repeat center;
	background-size: 100%;
}
